<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bella Shop</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">

    <!-- CSS Global -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="~/assets/css/theme.css" rel="stylesheet">
    <link href="~/assets/css/theme-maroon-1.css" rel="stylesheet" id="theme-config-link">

    <!-- Head Libs -->
    <script src="~/assets/plugins/modernizr.custom.js"></script>
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/iesupport/html5shiv.js"></script>
    <script src="~/assets/plugins/iesupport/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="header-style-1 wide">


    @{ Html.RenderPartial("_Preloader"); }

    <!-- WRAPPER -->
    <div class="wrapper">

        @{ await Html.RenderPartialAsync("_ShoppingCartPopup"); }

        @{ await Html.RenderPartialAsync("_Header1"); }

        <!-- CONTENT AREA -->

        @RenderBody()

        <!-- /CONTENT AREA -->
        <!--Footer-->
        @{ await Html.RenderPartialAsync("_Footer"); }}

        <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>
    </div>


    <!-- /WRAPPER -->
    <!-- JS Global -->
    <script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assets/plugins/superfish/js/superfish.min.js"></script>
    <script src="~/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/jquery.sticky.min.js"></script>
    <script src="~/assets/plugins/jquery.easing.min.js"></script>
    <script src="~/assets/plugins/jquery.smoothscroll.min.js"></script>
    <script src="~/assets/plugins/smooth-scrollbar.min.js"></script>
    
    <!-- JS Page Level -->
    <script src="~/assets/js/theme.js"></script>
    
    <!--[if (gte IE 9)|!(IE)]><!-->
    @*<script src="~/assets/plugins/jquery.cookie.js"></script>
    <script src="~/assets/js/theme-config.js"></script>*@
    <!--<![endif]-->
</body>
</html>