@{ 
    Layout = "_Layout";
}

@*<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" />

    <label for="password">Password</label>
    <input type="text" name="password" />

    <button type="submit">Login</button>
</form>*@
<section class="page-section color">
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="block-title"><span>Login</span></h3>
                <form method="post" class="form-login">
                    <div class="row">
                        <div class="col-md-12 hello-text-wrap">
                            <span class="hello-text text-thin">Hello, welcome to your account</span>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <a class="btn btn-theme btn-block btn-icon-left facebook" href="#"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <a class="btn btn-theme btn-block btn-icon-left twitter" href="#"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"><input name="username" class="form-control" type="text" placeholder="User name or email"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"><input name="password" class="form-control" type="password" placeholder="Your password"></div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 text-right-lg">
                            <a class="forgot-password" href="#">forgot password?</a>
                        </div>
                        <div class="col-md-6">
                            @*<a class="btn btn-theme btn-block btn-theme-dark" href="#">Login</a>*@
                            <button type="submit" class="btn btn-theme btn-block btn-theme-dark" href="#">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h3 class="block-title"><span>Create New Account</span></h3>
                <form action="#" class="create-account">
                    <div class="row">
                        <div class="col-md-12 hello-text-wrap">
                            <span class="hello-text text-thin">Create Your Account on Bellashop</span>
                        </div>
                        <div class="col-md-12">
                            <h3 class="block-title">Signup Today and You'll be able to</h3>
                            <ul class="list-check">
                                <li>Online Order Status</li>
                                <li>See Ready Hot Deals</li>
                                <li>Love List</li>
                                <li>Sign up to receive exclusive news and private sales</li>
                                <li>Quick Buy Stuffs</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-block btn-theme btn-theme-dark btn-create" href="#">Create Account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
