<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Signed Out</title>
</head>
<body>
    <div>You have successfully been signed out.</div>
    <div><a href="/admin">Admin</a></div>
</body>
</html>