@{
    Layout = "_Layout";
}

<div class="content-area">
    <section class="page-section color">
        <div class="container">

            <div class="row">
                <h1>Admin</h1>

                <div>
                    <a href="/account/logout">Logout</a>
                </div>
            </div>
        </div>
    </section>
</div>